---
title: "Website Performance Report"
author: Your name here
title-block-banner: true
date: today
date-format: long
format:
  pdf:
    documentclass: report
    classoption: [landscape]
    geometry:
      - top=30mm
      - left=20mm
      - heightrounded
jupyter: python3
execute:
  echo: false
  enable: false
  cache: true
---

In [ ]:
import os
os.system('locust -f locustfile.py')
# this generates csv files into the 'data' folder - see the locust.conf file for details

In [70]:
import pandas as pd
df = pd.read_csv('data/blog_data.csv_stats_history.csv')
df.dropna()
# do some analysis on the data
df.drop(['Type','Name','User Count'], axis=1, inplace=True)
# add a column for the average
df['Average'] = df.mean(axis=1)
# format the average as a real number
# add a column if the average is above 100
df['Acceptable'] = df['Average'] > 100000000
df['Acceptable'] = df['Acceptable'].map({True: 'OK', False: 'FAIL'})
df['Average'] = df['Average'].map('{:.2f}'.format)
# show only time and 'average' columns
# show timestamp as readable date
df['Date'] = pd.to_datetime(df['Timestamp'], unit='s')
df[['Date','99%', 'Average','Acceptable']]

                  Date    99%       Average Acceptable
0  2025-01-27 17:30:15    NaN  173799901.50         OK
1  2025-01-27 17:30:16  210.0   82762398.75       FAIL
2  2025-01-27 17:30:17  210.0   82762366.99       FAIL
3  2025-01-27 17:30:18  210.0   82762372.14       FAIL
4  2025-01-27 17:30:19  210.0   82762383.95       FAIL
5  2025-01-27 17:30:20  210.0   82762378.84       FAIL
6  2025-01-27 17:30:21  210.0   82762382.57       FAIL
7  2025-01-27 17:30:22  210.0   82762384.95       FAIL
8  2025-01-27 17:30:23  210.0   82762378.06       FAIL
9  2025-01-27 17:30:24  210.0   82762375.60       FAIL
10 2025-01-27 17:30:25  210.0   82762370.77       FAIL
11 2025-01-27 17:30:26  210.0   82762365.06       FAIL
12 2025-01-27 17:30:27  210.0   82762360.89       FAIL
13 2025-01-27 17:30:28  210.0   82762363.43       FAIL
14 2025-01-27 17:30:29  210.0   82762359.05       FAIL
15 2025-01-27 17:30:30  210.0   82762351.54       FAIL

Discussion of the above data here

* The table is raw data;
* we'd do some analysis on it for a real report
* but we're not going to do that here.

Conclusions
---

* The average response time is 0.5 seconds
* 99% of requests are served in under 1 second
* The slowest request is 2 seconds
* The report is self-contained and executed from one click
* The report file owns the data; the code to analyse and the conclusions - all tied together

In [78]:
os.system(f'quarto render blog_performance_report.ipynb --to pdf >/dev/null 2>&1')
print('-end-')

end